[submodule "amerykahospital-personalizedadvice-serverless"]
	path = serverless
	url = git@github.com:Jblew/amerykahospital-personalizedadvice-serverless
	branch = master
[submodule "amerykahospital-personalizedadvice-website"]
	path = website
	url = git@github.com:Jblew/amerykahospital-personalizedadvice-website
	branch = master
[submodule "amerykahospital-personalizedadvice-core"]
	path = core
	url = git@github.com:Jblew/amerykahospital-personalizedadvice-core
	branch = master
[submodule "amerykahospital-personalized-advice-client-android"]
	path = client-android
	url = git@github.com:Jblew/amerykahospital-personalized-advice-client-android
	branch = master
[submodule "amerykahospital-personalizedadvice-vue-commons"]
	path = vue-commons
	url = git@github.com:Jblew/amerykahospital-personalizedadvice-vue-commons.git
	branch = master
[submodule "amerykahospital-personalizedadvice-medicalprofessional-app"]
	path = medicalprofessional-app
	url = git@github.com:Jblew/amerykahospital-personalizedadvice-medicalprofessional-app.git
	branch = master
[submodule "typescript-chained-error"]
	path = typescript-chained-error
	url = git@github.com:Jblew/typescript-chained-error.git
	branch = master
[submodule "firebase-functions-rate-limiter"]
	path = firebase-functions-rate-limiter
	url = git@github.com:Jblew/firebase-functions-rate-limiter.git
	branch = master
[submodule "firestore-roles"]
	path = firestore-roles
	url = git@github.com:Jblew/firestore-roles.git
	branch = master
[submodule "firestore-roles-manager-ui"]
	path = firestore-roles-manager-ui
	url = git@github.com:Jblew/firestore-roles-manager-ui.git
	branch = master
[submodule "vuex-notifications-module"]
	path = vuex-notifications-module
	url = git@github.com:Jblew/vuex-notifications-module.git
	branch = master
[submodule "firestore-roles-vuex-module"]
	path = firestore-roles-vuex-module
	url = git@github.com:Jblew/firestore-roles-vuex-module.git
	branch = master
[submodule "amerykahospital-personalizedadvice-businesslogic"]
	path = businesslogic
	url = https://github.com/Jblew/amerykahospital-personalizedadvice-businesslogic
	branch = master
[submodule "amerykahospital-personalizedadvice-db"]
	path = db
	url = git@github.com:Jblew/amerykahospital-personalizedadvice-db.git
        branch = master

